.site-header {
    &__logo {
        padding: 30px 0;
        display: flex;
        justify-content: center;
    }

    & .custom-logo-link {
        height: 150px;
    }

    & .custom-logo {
        width: auto;
        height: 100%;
    }
}