.site-header {
    & .site-logo {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .custom-logo-link {
        height: 150px;
    }

    & .custom-logo {
        width: auto;
        max-height: 100px;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
    }
}