.sidebar-bottom {
    margin-bottom: 60px;

    @include media-min-width( md ) {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    section {
        width: 100%;

        @include media-min-width( md ) {
            width: 40%;

            &:nth-of-type(2) {
                width: 30%;
            }
        }
    }
}