$color-white: #FFF;
$color-black: #000;
$color-coral: #FF6F61;
$color-midnight-blue: #003465;
$color-boston-blue: #3D87CC;
$color-cabaret: #CE3E6F;
$color-scorpion-grey: #5E5E5E;
$color-mild-grey: #7C7C7C;
$color-light-grey: #D4D4D4;
$color-mine-shaft: #202020;

$color__background-body: $color-white;
$color__background-screen: $color-white;
$color__background-hr: $color-mild-grey;
$color__background-button: $color-cabaret;
$color__background-pre: $color-light-grey;
$color__background-ins: $color-coral;
$color__background-footer: $color-midnight-blue;

$color__text-screen: $color-boston-blue;
$color__text-input: $color-mild-grey;
$color__text-input-focus: $color-mine-shaft;
$color__link: $color-boston-blue;
$color__link-visited: $color-boston-blue;
$color__link-hover: $color-boston-blue;
$color__text-main: $color-mild-grey;
$color__text-heading: $color-mine-shaft;
$color__text-ins: $color-white;
$color__text-labels: $color-coral;
$color__link-secondary: $color-coral;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color-light-grey;
$color__border-abbr: $color-mild-grey;
