.site-main {
	display: flex;
    flex-wrap: wrap;
    
    .post {
        margin: 0 0 2em;
    }
}

.entry-title {
    @include font-size(2.5);
    margin-top: 10px;
    
    a {
        color: $color__text-heading;

        &:hover,
        &:focus,
        &:active {
            color: $color__text-heading;
            text-decoration: none;
        }
    }
}

.entry-meta {
    text-transform: uppercase;
    margin-bottom: 10px;

    @include media-min-width( sm ) {
        display: flex;
        flex-direction: column;
    }
}

.entry-categories {
    a {
        font-weight: 400;
        color: $color__text-labels;
        text-decoration: none;
    }
}

.entry-date,
.entry-comments {
    a {
        font-weight: 400;
        color: $color__text-input;
    }
}

.entry-content-container {
    & .post-thumbnail {
        text-align: center;

        img {
            max-width: 200px;
            margin-bottom: 30px;

            @include media-min-width( md ) {
                max-width: 100%;
                margin-bottom: 0;
                padding-right: 30px;
            }
        }
    }
}

.entry-content {
    margin: 0;

    p {
        margin-top: 0;
    }

    a {
        font-weight: 400;
    }
}

.entry-header {
    padding-right: 30px;
}

.entry-content-button {
    text-align: center;
    margin: 15px 0;
}

.content-single {
    @include media-min-width( sm ) {
        & .entry-header {
            text-align: center;
        }

        & .entry-meta {
            justify-content: center;
            flex-direction: row;
        }
    }

    & .entry-content {
        padding: 0;
        @include font-size(1.7);

        @include media-min-width( lg ) {
            @include font-size(1.8);
        }

        strong {
            color: darken($color__text-input, 20%);
        }
    }

    & .entry-title {
        @include font-size(3);

        @include media-min-width( sm ) {
            @include font-size(4);
        }

        @include media-min-width( lg ) {
            @include font-size(5);
        }
    }

    & .entry-header {
        padding: 0;
    }

    & .entry-date,
    & .entry-comments {
        @include media-min-width( sm ) { 
            margin-left: 10px;
        }
    }
    

    h2 {
        @include font-size(3);

        @include media-min-width( sm ) {
            @include font-size(3.5);
        }

        @include media-min-width( lg ) {
            @include font-size(4.5);
        }
    }

    h3 {
        @include font-size(2.5);

        @include media-min-width( sm ) {
            @include font-size(3);
        }

        @include media-min-width( lg ) {
            @include font-size(3.5);
        }
    }

    h4 {
        @include font-size(2);

        @include media-min-width( sm ) {
            @include font-size(2.5);
        }

        @include media-min-width( lg ) {
            @include font-size(3);
        }
    }
}