.entry-title {
    @include font-size(2.5);
    margin-top: 0;

    @include media-min-width( sm ) {
        @include font-size(3.5);
    }
    
    a {
        color: $color__text-heading;

        &:hover,
        &:focus,
        &:active {
            color: $color__text-heading;
            text-decoration: none;
        }
    }
}

@include media-min-width( sm ) {
    .entry-meta {
        display: flex;
        text-transform: uppercase;
    }
}

.entry-categories {
    a {
        color: $color__text-labels;
        text-decoration: none;
    }
}

.entry-date {
    @include media-min-width( sm ) { 
        margin-left: 10px;
    }

    a {
        color: $color__text-input;
        text-decoration: none;
    }
}

.entry-content-container {
    & .post-thumbnail {
        text-align: center;

        img {
            max-width: 200px;
            margin-bottom: 30px;

            @include media-min-width( md ) {
                max-width: 100%;
                margin-bottom: 0;
                padding-right: 30px;
            }
        }
    }
}

.entry-content {
    margin: 0;
    padding-right: 30px;

    p {
        margin-top: 0;
    }
}

.content-single {
    @include media-min-width( sm ) {
        & .entry-header {
            text-align: center;
        }

        & .entry-meta {
            justify-content: center;
        }
    }

    & .entry-content {
        padding: 0;
    }

    & .entry-title {
        @include font-size(3);

        @include media-min-width( sm ) {
            @include font-size(4);
        }

        @include media-min-width( lg ) {
            @include font-size(5);
        }
    }
}